{% extends "page2.html" %}

{% block header %}
<a href="/">МК</a>
/
2022 июнь
{% endblock %}

{% block content %}
<center>
    <h1>2022 июнь</h1>


    <div class="row col-12">
        <div class="col space"></div>
        <div class="col week">Понедельник</div>
        <div class="col week">Вторник</div>
        <div class="col week">Среда</div>
        <div class="col week">Четверг</div>
        <div class="col week">Пятница</div>
        <div class="col week">Суббота</div>
        <div class="col week">Воскресенье</div>
        <div class="col space"></div>

        <div class="w-100"></div>

        <div class="col space"></div>
        <div class="col space"></div>
        <div class="col space"></div>
        <div class="col day">1<br> описание место время # людей</div>
        <div class="col day">2<br>
            <span class="user_popup"><a href="../event_popup?id=1">Ёлочка</a></span>
            <span class="user_popup"><a href="../event_popup?id=1">Ёлочка-2.0</a></span>
        </div>
        <div class="col day">3<br> описание место время # людей</div>
        <div class="col day">4<br> описание место время # людей</div>
        <div class="col day">5<br> описание место время # людей</div>
        <div class="col space"></div>

        <div class="w-100"></div>

        <div class="col space"></div>
        <div class="col day">6<br> описание место время # людей</div>
        <div class="col day">7<br> описание место время # людей</div>
        <div class="col day">8<br> описание место время # людей</div>
        <div class="col day">9<br> описание место время # людей</div>
        <div class="col day">10<br> описание место время # людей</div>
        <div class="col day">11<br> описание место время # людей</div>
        <div class="col day">12<br> описание место время # людей</div>
        <div class="col space"></div>

        <div class="w-100"></div>

        <div class="col week"> <- Май</div>
        <div class="col day">13<br> описание место время # людей</div>
        <div class="col day">14<br> описание место время # людей</div>
        <div class="col day">15<br> описание место время # людей</div>
        <div class="col day">16<br> описание место время # людей</div>
        <div class="col day">17<br> описание место время # людей</div>
        <div class="col day">18<br> описание место время # людей</div>
        <div class="col day">19<br> описание место время # людей</div>
        <div class="col week">Июль -></div>

        <div class="w-100"></div>

        <div class="col space"></div>
        <div class="col day">20<br> описание место время # людей</div>
        <div class="col day">21<br> описание место время # людей</div>
        <div class="col day">22<br> описание место время # людей</div>
        <div class="col day">23<br> описание место время # людей</div>
        <div class="col day">24<br> описание место время # людей</div>
        <div class="col day">25<br> описание место время # людей</div>
        <div class="col day">26<br> описание место время # людей</div>
        <div class="col space"></div>

        <div class="w-100"></div>

        <div class="col space"></div>
        <div class="col day">27<br> описание место время # людей</div>
        <div class="col day">28<br> описание место время # людей</div>
        <div class="col day">29<br> описание место время # людей</div>
        <div class="col day">30<br> описание место время # людей</div>
        <div class="col space"></div>
        <div class="col space"></div>
        <div class="col space"></div>
        <div class="col space"></div>
    </div>
</center>


<script>popovers();</script>

{% endblock %}
