{% extends "calendar_base.html" %}

{% block header_name %}2022 июнь{% endblock %}
{% block header_name_2 %}2022 июнь{% endblock %}

{% block calendar %}
    <tr class="d-flex">
        <td class="space"></td>
        <td class="space"></td>
        <td class="space"></td>
        <td class="day">1<br> описание место время # людей</td>
        <td class="day">2<br>
            <span class="event_popup"><a href="../event_popup?id=1">Ёлочка</a></span><br>
            <span class="event_popup"><a href="../event_popup?id=1">Ёлочка-2.0</a></span><br>
            <span class="event_popup"><a href="../event_popup?id=1">Ёлочка-3.0</a></span>
        </td>
        <td class="day text-wrap">3<br> описание место время # людей</td>
        <td class="day">4<br> описание место время # людей</td>
        <td class="day">5<br> описание место время # людей</td>
        <td class="space"></td>
    </tr>
    <tr class="d-flex">
        <td class="space"></td>
        <td class="day">6<br> описание место время # людей</td>
        <td class="day">7<br> описание место время # людей</td>
        <td class="day">8<br> описание место время # людей</td>
        <td class="day">9<br> описание место время # людей</td>
        <td class="day">10<br> описание место время # людей</td>
        <td class="day">11<br> описание место время # людей</td>
        <td class="day">12<br> описание место время # людей</td>
        <td class="space"></td>
    </tr>
    <tr class="d-flex">
        <td class="week"> <- Май</td>
        <td class="day">13<br> описание место время # людей</td>
        <td class="day">14<br> описание место время # людей</td>
        <td class="day">15<br> описание место время # людей</td>
        <td class="day">16<br> описание место время # людей</td>
        <td class="day">17<br> описание место время # людей</td>
        <td class="day">18<br> описание место время # людей</td>
        <td class="day">19<br> описание место время # людей</td>
        <td class="week">Июль -></td>
    </tr>
    <tr class="d-flex">
        <td class="space"></td>
        <td class="day">20<br> описание место время # людей</td>
        <td class="day">21<br> описание место время # людей</td>
        <td class="day">22<br> описание место время # людей</td>
        <td class="day">23<br> описание место время # людей</td>
        <td class="day">24<br> описание место время # людей</td>
        <td class="day">25<br> описание место время # людей</td>
        <td class="day">26<br> описание место время # людей</td>
        <td class="space"></td>
    </tr>
    <tr class="d-flex">
        <td class="space"></td>
        <td class="day">27<br> описание место время # людей</td>
        <td class="day">28<br> описание место время # людей</td>
        <td class="day">29<br> описание место время # людей</td>
        <td class="day">30<br> описание место время # людей</td>
        <td class="space"></td>
        <td class="space"></td>
        <td class="space"></td>
        <td class="space"></td>
    </tr>
{% endblock %}
