{% extends "calendar.html" %}

{% block header_name %}2022 июнь{% endblock %}
{% block header_name_2 %}2022 июнь{% endblock %}

{% block calendar %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="b">1<br> описание место время # людей</td>
        <td class="b">2<br>
            <span class="user_popup"><a href="../event_popup?id=1">Ёлочка</a></span>
            <span class="user_popup"><a href="../event_popup?id=1">Ёлочка-2.0</a></span>
        </td>
        <td class="b">3<br> описание место время # людей</td>
        <td class="b">4<br> описание место время # людей</td>
        <td class="b">5<br> описание место время # людей</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="b">6<br> описание место время # людей</td>
        <td class="b">7<br> описание место время # людей</td>
        <td class="b">8<br> описание место время # людей</td>
        <td class="b">9<br> описание место время # людей</td>
        <td class="b">10<br> описание место время # людей</td>
        <td class="b">11<br> описание место время # людей</td>
        <td class="b">12<br> описание место время # людей</td>
        <td></td>
    </tr>
    <tr>
        <td class="d"><- Май</td>
        <td class="b">13<br> описание место время # людей</td>
        <td class="b">14<br> описание место время # людей</td>
        <td class="b">15<br> описание место время # людей</td>
        <td class="b">16<br> описание место время # людей</td>
        <td class="b">17<br> описание место время # людей</td>
        <td class="b">18<br> описание место время # людей</td>
        <td class="b">19<br> описание место время # людей</td>
        <td class="d">-> Июль</td>
    </tr>
    <tr>
        <td></td>
        <td class="b">20<br> описание место время # людей</td>
        <td class="b">21<br> описание место время # людей</td>
        <td class="b">22<br> описание место время # людей</td>
        <td class="b">23<br> описание место время # людей</td>
        <td class="b">24<br> описание место время # людей</td>
        <td class="b">25<br> описание место время # людей</td>
        <td class="b">26<br> описание место время # людей</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="b">27<br> описание место время # людей</td>
        <td class="b">28<br> описание место время # людей</td>
        <td class="b">29<br> описание место время # людей</td>
        <td class="b">30<br> описание место время # людей</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

{% endblock %}
