{% extends "page2.html" %}
{% block header %}
<a href="/">МК</a>
/
<a href="main.html">2022</a>
/
Ноябрь
{% endblock %}

{% block content %}
<center>
    <h1>Ноябрь</h1>
    <div class="row table-responsive justify-content-center"><center>
        <table class="table table-borderless borderless">
            <tr class="d-flex">
                <td class="space"></td>
                <td class="week">Понедельник</td>
                <td class="week">Вторник</td>
                <td class="week">Среда</td>
                <td class="week">Четверг</td>
                <td class="week">Пятница</td>
                <td class="week">Суббота</td>
                <td class="week">Воскресенье</td>
                <td class="space"></td>
            </tr>
            <tr class="d-flex">
                <td class="space"></td>
                <td class="space"></td>
                <td class="day"><b>1</b><br>
                </td>
                <td class="day"><b>2</b><br>
                </td>
                <td class="day"><b>3</b><br>
                </td>
                <td class="day"><b>4</b><br>
                </td>
                <td class="day"><b>5</b><br>
                </td>
                <td class="day"><b>6</b><br>
                </td>
                <td class="space"></td>
            </tr>
            <tr class="d-flex">
                <td class="space"></td>
                <td class="day"><b>7</b><br>
                </td>
                <td class="day"><b>8</b><br>
                </td>
                <td class="day"><b>9</b><br>
                </td>
                <td class="day"><b>10</b><br>
                </td>
                <td class="day"><b>11</b><br>
                </td>
                <td class="day"><b>12</b><br>
                </td>
                <td class="day"><b>13</b><br>
                </td>
                <td class="space"></td>
            </tr>
            <tr class="d-flex">
                        <td class="week" onclick="clickCard(document, 10, 2022)">
                        Октябрь
                        </td>
                <td class="day"><b>14</b><br>
                </td>
                <td class="day"><b>15</b><br>
                </td>
                <td class="day"><b>16</b><br>
                </td>
                <td class="day"><b>17</b><br>
                </td>
                <td class="day"><b>18</b><br>
                </td>
                <td class="day"><b>19</b><br>
                </td>
                <td class="day"><b>20</b><br>
                </td>
                        <td class="week" onclick="clickCard(document, 12, 2022)">
                        Декабрь
                        </td>
            </tr>
            <tr class="d-flex">
                <td class="space"></td>
                <td class="day"><b>21</b><br>
                </td>
                <td class="day"><b>22</b><br>
                </td>
                <td class="day"><b>23</b><br>
                </td>
                <td class="day"><b>24</b><br>
                </td>
                <td class="day"><b>25</b><br>
                </td>
                <td class="day"><b>26</b><br>
                </td>
                <td class="day"><b>27</b><br>
                </td>
                <td class="space"></td>
            </tr>
            <tr class="d-flex">
                <td class="space"></td>
                <td class="day"><b>28</b><br>
                </td>
                <td class="day"><b>29</b><br>
                </td>
                <td class="day"><b>30</b><br>
                </td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
            </tr>
        </table>
    </center></div>
</center>
<script>popovers();parseMD(document);</script>
{% endblock %}
