{% extends "page2.html" %}
{% block header %}
<a href="/">МК</a>
/
<a href="main.html">2022</a>
/
Июнь
{% endblock %}

{% block content %}
<center>
    <h1>Июнь</h1>
    <div class="row table-responsive justify-content-center"><center>
        <table class="table table-borderless borderless">
            <tr class="d-flex">
                <td class="space"></td>
                <td class="week">Понедельник</td>
                <td class="week">Вторник</td>
                <td class="week">Среда</td>
                <td class="week">Четверг</td>
                <td class="week">Пятница</td>
                <td class="week">Суббота</td>
                <td class="week">Воскресенье</td>
                <td class="space"></td>
            </tr>
            <tr class="d-flex">
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="day"><b>1</b><br>
                </td>
                <td class="day"><b>2</b><br>
                </td>
                <td class="day"><b>3</b><br>
                </td>
                <td class="day"><b>4</b><br>
                    <span class="event_popup">
                        <a href="../visitors_count?id=1">Ёлочка</a>
                        <div class="invisible">
                            <center><p><b>Ёлочка</b></p></center>
                            <p>2022.06.04 10:00 - 11:30.</p>
                            <p class="markdown-popup">&lt;p&gt;Будем делать ёолчку своими руками из фанеры.&lt;/p&gt;</p>
                            <p>Преподаватель: Вахитова Е. Ю.</p>
                            <p>Стоимость: 150 &#8381;</p>
                            <p><!-- put color of places here -->Осталось мест: <!-- put empty places here --> / 30</p>
                            <center>
                                <p><a href="../visitors?event=1" onclick="visit(document, '../visitors?event=1')">Записаться</a></p>
                                <p><a href="../show_visitors?event=1" onclick="visit(document, '../show_visitors?event=1')">Записавшиеся</a></p>
                            </center>
                        </div>
                    </span><br>
                    <span class="event_popup">
                        <a href="../visitors_count?id=2">Flask-сайт</a>
                        <div class="invisible">
                            <center><p><b>Flask-сайт</b></p></center>
                            <p>2022.06.04 12:00 - 14:00.</p>
                            <p class="markdown-popup">&lt;p&gt;Будем учиться создавать сайты на Flask&lt;/p&gt;</p>
                            <p>Преподаватель: Шестаков В. Г.</p>
                            <p>Стоимость: 250 &#8381;</p>
                            <p><!-- put color of places here -->Осталось мест: <!-- put empty places here --> / 15</p>
                            <center>
                                <p><a href="../visitors?event=2" onclick="visit(document, '../visitors?event=2')">Записаться</a></p>
                                <p><a href="../show_visitors?event=2" onclick="visit(document, '../show_visitors?event=2')">Записавшиеся</a></p>
                            </center>
                        </div>
                    </span><br>
                </td>
                <td class="day"><b>5</b><br>
                </td>
                <td class="space"></td>
            </tr>
            <tr class="d-flex">
                <td class="space"></td>
                <td class="day"><b>6</b><br>
                    <span class="event_popup">
                        <a href="../visitors_count?id=3">Markdown</a>
                        <div class="invisible">
                            <center><p><b>Markdown</b></p></center>
                            <p>2022.06.06 10:00 - 11:30.</p>
                            <p class="markdown-popup">&lt;p&gt;&lt;em&gt;Вы&lt;/em&gt; научитесь &lt;strong&gt;оформлять&lt;/strong&gt; свои тексты используя &lt;strong&gt;&lt;em&gt;Markdown&lt;/em&gt;&lt;/strong&gt;!  &lt;br /&gt;
Во-первых создавать:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Маркированные списки&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Во-вторых создавать:&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;Нумерованные списки&lt;/li&gt;
&lt;/ol&gt;
&lt;p&gt;И в-третьих:&lt;/p&gt;
&lt;h3&gt;Делать заголовки&lt;/h3&gt;</p>
                            <p>Преподаватель: Вахитова Е. Ю.</p>
                            <p>Стоимость: 150 &#8381;</p>
                            <p><!-- put color of places here -->Осталось мест: <!-- put empty places here --> / 1</p>
                            <center>
                                <p><a href="../visitors?event=3" onclick="visit(document, '../visitors?event=3')">Записаться</a></p>
                                <p><a href="../show_visitors?event=3" onclick="visit(document, '../show_visitors?event=3')">Записавшиеся</a></p>
                            </center>
                        </div>
                    </span><br>
                    <span class="event_popup">
                        <a href="../visitors_count?id=4">ЛТЧ</a>
                        <div class="invisible">
                            <center><p><b>ЛТЧ</b></p></center>
                            <p>2022.06.06 12:00 - 13:30.</p>
                            <p class="markdown-popup">&lt;p&gt;Мы расскажем, как работает наша цифровизированная библиотека!&lt;/p&gt;</p>
                            <p>Преподаватель: Вахитова Е. Ю.</p>
                            <p>Стоимость: 150 &#8381;</p>
                            <p><!-- put color of places here -->Осталось мест: <!-- put empty places here --> / 6</p>
                            <center>
                                <p><a href="../visitors?event=4" onclick="visit(document, '../visitors?event=4')">Записаться</a></p>
                                <p><a href="../show_visitors?event=4" onclick="visit(document, '../show_visitors?event=4')">Записавшиеся</a></p>
                            </center>
                        </div>
                    </span><br>
                </td>
                <td class="day"><b>7</b><br>
                </td>
                <td class="day"><b>8</b><br>
                </td>
                <td class="day"><b>9</b><br>
                </td>
                <td class="day"><b>10</b><br>
                </td>
                <td class="day"><b>11</b><br>
                </td>
                <td class="day"><b>12</b><br>
                </td>
                <td class="space"></td>
            </tr>
            <tr class="d-flex">
                        <td class="week" onclick="clickCard(document, 5, 2022)">
                        Май
                        </td>
                <td class="day"><b>13</b><br>
                </td>
                <td class="day"><b>14</b><br>
                </td>
                <td class="day"><b>15</b><br>
                </td>
                <td class="day"><b>16</b><br>
                </td>
                <td class="day"><b>17</b><br>
                    <span class="event_popup">
                        <a href="../visitors_count?id=5">ЛТЧ</a>
                        <div class="invisible">
                            <center><p><b>ЛТЧ</b></p></center>
                            <p>2022.06.17 10:00 - 11:30.</p>
                            <p class="markdown-popup">&lt;p&gt;Мы расскажем, как работает наша цифровизированная библиотека!&lt;/p&gt;</p>
                            <p>Преподаватель: Вахитова Е. Ю.</p>
                            <p>Стоимость: 1 &#8381;</p>
                            <p><!-- put color of places here -->Осталось мест: <!-- put empty places here --> / 50</p>
                            <center>
                                <p><a href="../visitors?event=5" onclick="visit(document, '../visitors?event=5')">Записаться</a></p>
                                <p><a href="../show_visitors?event=5" onclick="visit(document, '../show_visitors?event=5')">Записавшиеся</a></p>
                            </center>
                        </div>
                    </span><br>
                </td>
                <td class="day"><b>18</b><br>
                </td>
                <td class="day"><b>19</b><br>
                </td>
                        <td class="week" onclick="clickCard(document, 7, 2022)">
                        Июль
                        </td>
            </tr>
            <tr class="d-flex">
                <td class="space"></td>
                <td class="day"><b>20</b><br>
                </td>
                <td class="day"><b>21</b><br>
                </td>
                <td class="day"><b>22</b><br>
                </td>
                <td class="day"><b>23</b><br>
                </td>
                <td class="day"><b>24</b><br>
                </td>
                <td class="day"><b>25</b><br>
                </td>
                <td class="day"><b>26</b><br>
                </td>
                <td class="space"></td>
            </tr>
            <tr class="d-flex">
                <td class="space"></td>
                <td class="day"><b>27</b><br>
                </td>
                <td class="day"><b>28</b><br>
                </td>
                <td class="day"><b>29</b><br>
                </td>
                <td class="day"><b>30</b><br>
                </td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
                <td class="space"></td>
            </tr>
        </table>
    </center></div>
</center>
<script>popovers();parseMD(document);</script>
{% endblock %}
