{% extends "page2.html" %}
{% block header %}
<a href="/">МК</a>
/
2022
{% endblock %}

{% block content %}
<center>
    <h1>2022</h1>
    <div class="container col-12">
        <div class="row justify-content-center">
            <div class="card" onclick="clickCard(document, 1)">
                <center><p><b>Январь</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 2)">
                <center><p><b>Февраль</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 3)">
                <center><p><b>Март</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 4)">
                <center><p><b>Апрель</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 5)">
                <center><p><b>Май</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 6)">
                <center><p><b>Июнь</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 7)">
                <center><p><b>Июль</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 8)">
                <center><p><b>Август</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 9)">
                <center><p><b>Сентябрь</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 10)">
                <center><p><b>Октябрь</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 11)">
                <center><p><b>Ноябрь</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
            <div class="card" onclick="clickCard(document, 12)">
                <center><p><b>Декабрь</b></p></center>
                <p>Проведено мастер-классов: 0.</p>
                <p>Ребёнка-часов: 0.</p>
                <p>Детей поучаствовало: 0.</p>
                <p>Выручка: 0.</p>
                <p>Прибыль: 0.</p>
            </div>
        </div>
    </div>
</center>
{% endblock %}
