{% extends "calendar_base.html" %}

{% block header_name %}{{ name }}{% endblock %}
{% block header_name_2 %}{{ name }}{% endblock %}

{% block calendar %}
{% for week in calendar %}
    <tr class="d-flex">
    {% for day in week %}
        {% if day.day == 0 %}<td class="space"></td>
        {% elif day.day == -1 %}<td class="week">{{ day.events }}</td>
        {% else %}
            <td class="day"><b>{{ day.day }}</b><br>
            {% for event in day.events %}
                <span class="event_popup"><a href="../event_popup?id={{ event.id }}">{{ event.name }}</a></span><br>
            {% endfor %}
            </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
{% endblock %}
