{% extends "page2.html" %}

{% block header %}
<a href="/">МК</a>
/
{% block header_name %}{% endblock %}
{% endblock %}

{% block content %}
<center>
    <h1>{% block header_name_2 %}{% endblock %}</h1>
    <div class="row table-responsive justify-content-center"><center>
        <table class="table table-borderless borderless">
            <tr class="d-flex">
                <td class="space"></td>
                <td class="week">Понедельник</td>
                <td class="week">Вторник</td>
                <td class="week">Среда</td>
                <td class="week">Четверг</td>
                <td class="week">Пятница</td>
                <td class="week">Суббота</td>
                <td class="week">Воскресенье</td>
                <td class="space"></td>
            </tr>
            {% block calendar %}{% endblock %}
        </table>
    </center></div>
</center>

<script>popovers();</script>

{% endblock %}
