<!-- login required -->
<!-- -2 -->
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>МК</title>
        <script src="../JS/popper.min.js"></script>
        <script src="../JS/jquery.min.js"></script>
        <script src="../JS/bootstrap.min.js"></script>
        <script src="../JS/scripts.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="../CSS/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body>
        {% if current_user.is_anonymous %} {% set anon = True %} {% else %} {% set anon = False %} {% endif %}
        <div class="content">
            <div class="header_space"></div>
            <nav class="navbar fixed-top">
                <div class="row col-lg-12 col-md-12">
                    <div class="col-lg-9 col-md-6 col-sm-6">
                        <center><h1><a href="index.html">МК</a></h1></center>
                    </div>
                    <div class="dropdiv col-lg-1 col-md-2 col-sm-2">
                        <p class="dropbtn" id="btn1" data-toggle="dropdown">Год</p>
                        <div class="dropdown-menu" aria-labelledby="btn1">
                            <a class="dropdown-item" href="index.html">Главная</a>
                            <!-- list of months (1) -->
<a class="dropdown-item" href="2022/main.html">2022</a>
<!-- end -->
                        </div>
                    </div>
                    <div class="dropdiv col-lg-1 col-md-2 col-sm-2">
                        <p class="dropbtn" id="btn2" data-toggle="dropdown">О нас</p>
                        <div class="dropdown-menu" aria-labelledby="btn2">
                            <a class="dropdown-item" href="Info/teachers.html">Преподаватели</a>
                            <a class="dropdown-item" href="Info/reviews.html">Отзывы</a>
                            <a class="dropdown-item" href="Info/description.html">Описание</a>
                            <a class="dropdown-item" href="Info/author.html">Авторство сайта</a>
                        </div>
                    </div>
                    <div class="dropdiv col-lg-1 col-md-2 col-sm-2">
                        <p class="dropbtn" id="btn3" data-toggle="dropdown">
                            {% if anon %} Аккаунт
                            {% else %} {{ current_user.login }}
                            {% endif %}
                        </p>
                        <div class="dropdown-menu right" aria-labelledby="btn3">
                            {% if anon %}
                                <a class="dropdown-item" href="login.html">Войти</a>
                            {% else %}
                                <a class="dropdown-item" href="events">События</a>
                                <a class="dropdown-item" href="calendar">Календарь</a>
                                <a class="dropdown-item" href="users">Пользователи</a>
                                <a class="dropdown-item" href="logout">Выйти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6 col-sm-6"><font size="3">{% block header %}{% endblock %}</font></div>
            </nav>
            {% block content %}{% endblock %}
            <div class="footer_space"></div>
        </div>
        <div class="footer">
            <center>
                <br/>
                Автор: Шестаков Вячеслав Григорьевич 10 «И».<br/>
                Связь: v.shestakov@student.univers.su<br/>
            </center>
        </div>
    </body>
</html>
