{% extends "page1.html" %}
{% block content %}

<center>
    <div class="row col-12">

        <div class="col-lg-7 col-md-12 col-sm-12">
            <h1>Мастер-классы</h1>
            <p>Типы мастер-классов, можно повторять несколько раз.</p>
            <br>
            <br>
            <h2>Список</h2>
            <div class="row table-responsive justify-content-center"><center>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>ID</td>
                        <td>Название</td>
                        <td>Краткое описание</td>
                        <td>Описание</td>
                        <td>Время (мин)</td>
                        <td>Фото</td>
                    </tr>
                    {% for now in mc %}
                        <tr>
                            <td>{{ now.id }}</td>
                            <td>{{ now.name }}</td>
                            <td class="js-md-double-click-popover"><div>{{ now.short_desc }}</div><div class="invisible">{{ now.get_short_html() }}</div></td>
                            <td class="js-md-double-click-popover"><div>{{ now.description }}</div><div class="invisible">{{ now.get_html() }}</div></td>
                            <td>{{ now.duration }}</td>
                            <td><a href="../Images/{{ now.file }}" target="_blank">{{ now.file }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </center></div>
            <br>
            <br>
            <h2>Создать</h2>
            <form action="add_mc" method="post" enctype="multipart/form-data">
                <p><input type="text" name="name" placeholder="Название"></p>
                <p><textarea class="js-textarea" name="short_description" placeholder="Краткое описание на Markdown"></textarea></p>
                <p><textarea class="js-textarea" name="description" placeholder="Описание на Markdown"></textarea></p>
                <p><input type="text" name="duration" placeholder="Время (мин)"></p>
                <div class="js-checkbox">
                    <p><input type="checkbox" name="is_file" value="is_file"> Загрузить картинку</p>
                    <div><p>Загрузить файл: <input type="file" name="file-file" accept="image/*"></p></div>
                    <div><p><input type="text" name="file-name" placeholder="Загруженный файл"></p></div>
                </div>
                {% if error_add_mc %} <p class="error">[ {{ error_add_mc }} ]</p>
                {% endif %}
                <input type="submit" class="form-control form-item" value="Сохранить">
            </form>
            <br>
            <br>
            <h2>Редактировать</h2>
            <form action="edit_mc" method="post" enctype="multipart/form-data">
                <p><input type="text" name="id" placeholder="ID мастер-классса"></p>
                <p><input type="text" name="name" placeholder="Название"></p>
                <p><textarea class="js-textarea" name="short_description" placeholder="Краткое описание на Markdown"></textarea></p>
                <p><textarea class="js-textarea" name="description" placeholder="Описание на Markdown"></textarea></p>
                <p><input type="text" name="duration" placeholder="Время (мин)"></p>
                <div class="js-checkbox">
                    <p><input type="checkbox" name="is_file" value="is_file"> Загрузить картинку</p>
                    <div><p>Загрузить файл: <input type="file" name="file-file" accept="image/*"></p></div>
                    <div><p><input type="text" name="file-name" placeholder="Загруженный файл"></p></div>
                </div>
                <p>Если поле оставить пустым, то данные не изменятся.</p>
                {% if error_edit_mc %} <p class="error">[ {{ error_edit_mc }} ]</p>
                {% endif %}
                <input type="submit" class="form-control form-item" value="Сохранить">
            </form>
            <br>
            <br>
            <h2>Удалить</h2>
            <form action="delete_mc" method="post">
                <p><input type="text" name="id" placeholder="ID мастер-классса"></p>
                {% if error_delete_mc %} <p class="error">[ {{ error_delete_mc }} ]</p>
                {% endif %}
                <input type="submit" class="form-control form-item" value="Сохранить">
            </form>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12">
            <h1>События</h1>
            <p>Проведение самого мастер-класса, повторяется только раз.</p>
            <br>
            <br>
            <h2>Список</h2>
            <div class="row table-responsive justify-content-center"><center>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>ID</td>
                        <td>Преп.</td>
                        <td>МК</td>
                        <td>Мест</td>
                        <td>Бронь</td>
                        <td>Цена (&#8381;)</td>
                        <td>Выр.</td>
                        <td>Начало</td>
                        <td>Классы</td>
                    </tr>
                    {% for now in e %}
                    <tr>
                        <td>{{ now.id }}</td>
                        <td>{{ now.teacher }}</td>
                        <td>{{ now.master_class }}</td>
                        <td>{{ now.places }}</td>
                        <td><a href="/show_visitors?event={{ now.id }}">{{ now.booked }}</a></td>
                        <td>{{ now.cost }}</td>
                        <td>{{ now.revenue }}</td>
                        <td>{{ now.date() }}</td>
                        <td>{{ now.get_classes() }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </center></div>
            <br>
            <br>
            <h2>Создать</h2>
            <form action="add_event" method="post">
                <p><input type="text" name="teacher" placeholder="ID преподавателя"></p>
                <p><input type="text" name="master_class" placeholder="ID мастер-класса"></p>
                <p><input type="text" name="places" placeholder="Кол-во мест"></p>
                <p><input type="text" name="cost" placeholder="Стоимость (&#8381;)"></p>
                <p><input type="date" name="date"> &nbsp; <input type="time" name="time"></p>
                <p><textarea class="js-textarea" name="classes" placeholder="Ограничения по классам (например: 3 | 2А | 2Б)"></textarea></p>
                {% if error_add_event %} <p class="error">[ {{ error_add_event }} ]</p>
                {% endif %}
                <input type="submit" class="form-control form-item" value="Сохранить">
            </form>
            <br>
            <br>
            <h2>Редактировать</h2>
            <form action="edit_event" method="post">
                <p><input type="text" name="id" placeholder="ID события"></p>
                <p><input type="text" name="teacher" placeholder="ID преподавателя"></p>
                <p><input type="text" name="master_class" placeholder="ID мастер-класса"></p>
                <p><input type="text" name="places" placeholder="Кол-во мест"></p>
                <p><input type="text" name="cost" placeholder="Стоимость (&#8381;)"></p>
                <p><input type="date" name="date"> &nbsp; <input type="time" name="time"></p>
                <p><textarea class="js-textarea" name="classes" placeholder="Ограничения по классам (например: 3 | 2А | 2Б)"></textarea></p>
                <p>Если поле оставить пустым, то данные не изменятся.</p>
                <p>(Дату и время иожно менять независимо)</p>
                {% if error_edit_event %} <p class="error">[ {{ error_edit_event }} ]</p>
                {% endif %}
                <input type="submit" class="form-control form-item" value="Сохранить">
            </form>
            <br>
            <br>
            <h2>Удалить</h2>
            <form action="delete_event" method="post">
                <p><input type="text" name="id" placeholder="ID события"></p>
                {% if error_delete_event %} <p class="error">[ {{ error_delete_event }} ]</p>
                {% endif %}
                <input type="submit" class="form-control form-item" value="Сохранить">
            </form>
        </div>
    </div>
</center>

<script>initTextArea();initMDDoubleClickPopover();initCheckbox();</script>

{% endblock %}
