<center>
    <h1>{{ name }}</h1>
    <div class="row table-responsive justify-content-center"><center>
        <table class="table table-borderless borderless">
            <tr class="d-flex">
                <td class="space"></td>
                <td class="week">Понедельник</td>
                <td class="week">Вторник</td>
                <td class="week">Среда</td>
                <td class="week">Четверг</td>
                <td class="week">Пятница</td>
                <td class="week">Суббота</td>
                <td class="week">Воскресенье</td>
                <td class="space"></td>
            </tr>
            {% for week in calendar %}
            <tr class="d-flex">
                {% for day in week %}
                {% if day.day == 0 %}<td class="space"></td>
                {% elif day.day == -1 %}
                    {% if day.events[1] %}
                        <td class="week" onclick="clickCard({{ day.events[1] }}, {{ day.events[2] }})">
                        {% if day.events[2] != year %}{{ day.events[2] }}<br>{% endif %}
                        {{ day.events[0] }}
                        </td>
                    {% else %}<td class="week" onclick="clickCard('main')">{{ year }}</td>
                    {% endif %}
                {% else %}
                <td class="day"><b>{{ day.day }}</b><br>
                    {% for event in day.events %}
                    <span class="js-md-popover">
                        <a href="../visitors_count?id={{ event.id }}">{{ event.name }}</a>
                        <div class="invisible">
                            <center><p><b>{{ event.name }}</b></p></center>
                            <p>{{ event.date }} {{ event.start }} - {{ event.end }}.</p>
                            <p><img src="../../Images/{{ event.file }}" alt="Фото не загрузилось" width="90%"></p>
                            <p class="js-md-content">{{ event.description }}</p>
                            <p>Преподаватель: {{ event.teacher }}</p>
                            <p>Стоимость: {{ event.cost }} &#8381;</p>
                            <p><!-- put color of places here -->Осталось мест: <!-- put empty places here --> / {{ event.places }}</p>
                            <center>
                                <p><a href="../visitors?event={{ event.id }}" onclick="go('../visitors?event={{ event.id }}')"><!-- put is_closing -->Записаться</a></p>
                                <p><a href="../show_visitors?event={{ event.id }}" onclick="go('../show_visitors?event={{ event.id }}')">Записавшиеся</a></p>
                            </center>
                        </div>
                    </span><br>
                    {% endfor %}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </center></div>
</center>

<script>initMDPopover();initMDContent();</script>
