{% extends "page1.html" %}
{% block content %}

<div class="blue-line"></div>
<div class="white-line"></div>

<div class="row col-12">
    {% if info %}
        <div class="col-1"></div>
        <div class="col-7">
            <span class="course-title">{{ info.name }}</span><br>
            <span class="course-info">{{ info.date }} &nbsp; {{ info.start }} - {{ info.end }}</span><br>
            <span class="course-info">{{ info.classes }}</span><br>
            <span class="course-info">Преподаватель: {{ info.teacher }}</span><br><br>
            <span class="course-description js-md-content">
                {{ info.description }}
            </span>
        </div>
        <div class="col-4">
            <img src="../Images/{{ info.file }}" width="100%"><br><br>
            <p class="course-info places-choice">Осталось мест: {{ info.places - info.booked }}  / {{ info.places }}</p>
            <script>setPlacesColor({{ info.places - info.booked }});</script>

            <p class="course-info">Регистрация</p>
            <form action="add_visitor" method="post">
                <p class="invisible"><input type="text" name="event" value="{{ event.id }}" hidden></p>
                <p><input type="text" name="name1" placeholder="Фамилия ребёнка"></p>
                <p><input type="text" name="name2" placeholder="Имя ребёнка"></p>
                <p><input type="text" name="vclass" placeholder="Класс"></p>
                <p><input type="tel" name="telephone" placeholder="Телефон родителя"></p>
                {% if error_add_visitor %} <p class="error">[ {{ error_add_visitor }} ]</p>
                {% endif %}
                <input type="submit" class="form-control form-item" value="Зарегистрировать">
                <p class="course-description">Нажимая на кнопку «Зарегистрировать», Вы соглашаетесь с <a href="../Info/privacy_policy.html" target="_blank">правилами обработки данных</a>.</p>
            </form>
            {% if url %}<p>Подтвердите участие, оплатив событие по <a href="{{ url }}" target="_blank">ссылке</a>.</p>
            {% elif msg %}<p class="error">{{ msg }}</p>
            {% endif %}
        </div>
    {% elif msg %}
        <div class="col-12"><center><p class="error">{{ msg }}</p></center></div>
    {% else %}
        <div class="col-12"><center><p class="error">Такое событие не найдено, попробуйте ещё раз...</p></center></div>
    {% endif %}
</div>

<script>initMDContent();</script>

{% endblock %}
