/* page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lora';
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.content {
    background-color: transparent;
    position: relative;
    z-index: 0;
    min-height: 100%;
    margin: 5px 10px;
	padding-bottom: 160px;
}

h1{ font-size: 24pt; }
h2{ font-size: 18pt; }
h3{ font-size: 15pt; }
h4{ font-size: 12pt; }



/* lines */
.blue-line {
	background-color: #3f48cc;
	text-align: center;
	padding: 2px;
	min-height: 50px;
}

.white-line {
	background-color: white;
	text-align: center;
	padding: 2px;
	min-height: 50px;
}

.small-white-line {
	background-color: white;
	text-align: center;
	padding: 2px;
	min-height: 10px;
}



/* footer */
.contacts {
	text-align: right;
}

.footer {
    width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 150px;
	background-color: #D0DAEE;
}



/* band-course */
.band-item {
	background-color: #f1f1f1;
	margin: 15px;
	padding: 15px;
	border-radius: 10px;
}

.band-item:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	cursor: pointer;
}

.band-course-title {
	font-weight: bold;
}

.band-course-date {
	font-size: 10pt;
}

.band-course-price {
	font-weight: bold;
	text-align: right;
	font-size: 17pt;
	height: 100%;
}

.band-course-description {
	font-size: 11pt;
}



/* teacher */
.teacher-item {
    background-color: #f1f1f1;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    height: 500px;
}

.teacher-image {
    width: 100%;
    height: 420px;
}

.teacher-name {
    width: 100%;
    height: 80px;
    text-align: center;
    font-weight: bold;
}



/* course */
.course-title {
	font-weight: bold;
	font-size: 40pt;
}

.course-info {
	font-size: 17pt;
}



/* dropdown */
.dropbtn {
    width: 200px;
    height: 80px;
    text-align: center;
    background-color: #3f48cc;
    color: white;
    padding: 10px 20px 16px 16px;
    margin: 3px 3px 3px 3px;
    border-radius: 10px;
    font-size: 14pt;
    border: none;
    overflow: hidden;
	display: inline-block;
    vertical-align: middle;
}

.dropbtn:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-item {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-radius: 5px;
}

.dropdown-menu a:hover { background-color: #ddd; }
.dropdown:hover .dropdown-menu { display: block;  margin-top: 0; }
.dropdown:hover .dropbtn { background-color: #3f48cc; }



/* js elements */
.js-textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 2px #e06969;
    background-color: #fff;
    min-height: 54px;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 auto;
    resize: none;
}

.js-md-double-click-popover {
    white-space: pre;
}



/* places color */
.places-ended { color: red; }
.places-few { color: orange; }
.places-many { color: green; }



/* other */
.main-title {
    font-weight: bold;
    color: white;
}

.error {
    color: red;
    font-size: 14pt;
}

.slider-image {
    height: 300px;
    width: 600px;
}

.invisible {
    display: none;
    visibility: hidden;
}

.form-item {
    width: 200px;
    border-radius: 15px;
    background-color: #5b64e1;
    color: white;
    border-width: 1px;
    border-color: black;
}

.form-item:hover {
    color: white;
    background-color: #3f48cc;
}

.form-item:focus {
    color: white;
    background-color: #3f48cc;
}

.image-href-a {
    margin: 5px;
}

.image-href-a:hover {
    text-decoration: none;
}

.image-href-img {
    width: 32px;
    height: 32px;
}



/* [[maybe_unused]] */
.week {
    text-align: center;
    height: auto;
    width: 160px;
    margin: 5px;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 10px;
}

.day {
    text-align: center;
    height: auto;
    width: 160px;
    margin: 5px;
    outline: 2px solid #f00;
    border: 3px solid #fff;
    border-radius: 10px;
}

.space {
    text-align: center;
    height: auto;
    width: 160px;
    margin: 5px;
    outline: 2px solid #0000;
    border: 3px solid #0000;
    border-radius: 10px;
}

.info {
    width: 250px;
    height: auto;
}

.borderless td, .borderless th {
    border: none;
}

.borderless {
    width: auto;
}

.narrow-column {
    min-width: 60px;
    width: 100%;
}

.card {
    text-align: left;
    width: 300px;
    margin: 5px;
    padding: 5px;
    outline: 2px solid #f00;
    border: 3px solid #fff;
    border-radius: 10px;
}
